body {
    display: block;
    background-color: #eaac60;

}



h1 {
    font-family: "IM Fell English SC", serif;

    color: #b56e2b;
    padding-left: 15px;
}

h2 {
    font-family: "IM Fell English SC", serif;

}



#map {

    height: 450px;

    display: flex;
    align-items: flex-end;

    border-style: solid;
    border-width: 1px;

}


#logo {
    position: absolute;
    top: -220px;
    left: 50px;
    width: 0px;
    height: 800px;
}

.frog {
    color: #b56e2b;
    font-family: "IM Fell English SC", serif;


}

.frog:hover {
    text-shadow: 0 0 20px #b56e2b;

}

.brewery-info {
    display: block;
    background-color: #1e293b;
    font-size: 50px;
    color: #b56e2b;
    font-family: "IM Fell English SC", serif;
    margin-top: 10px;
    text-align: center;



}

.scarab {
    display: block;
    margin-top: 10px;


    width: calc(71%);
    height: calc(65%);
    position: absolute;
    top: calc(75%);

}

.beetle {
    display: block;
    width: calc(71%);
    height: calc(65%);
    position: absolute;
    margin-bottom: 10px;
}

.custom-link {
    text-decoration: none;
    /* Add any other styles you want */
}

.custom-link:hover {
    text-shadow: 0 0 15px #b56e2b;
    /* Add a text-shadow effect on hover */
}