body {
    display: block;
    background-color: #eaac60;

}



h1 {
    font-family: "IM Fell English SC", serif;

    color: #b56e2b;
    padding-left: 15px;
}

h2 {
    font-family: "IM Fell English SC", serif;

}



#map {

    height: 450px;

    display: flex;
    align-items: flex-end;

    border-style: solid;
    border-width: 1px;

}

#choice {
    font-family: "IM Fell English SC", serif;
}

#logo {
    position: absolute;
    top: -220px;
    left: 50px;
    width: 0px;
    height: 800px;
}

.frog {
    color: #b56e2b;
    font-family: "IM Fell English SC", serif;
    font-size: larger;
}

.brewery-info {
    display: block;
    background-color: #1e293b;
    font-size: 50px;
    color: #b56e2b;
    font-family: "IM Fell English SC", serif;
    margin-top: 10px;
    text-align: center;


}

/* .custom-style {


    background-color: #1e293b;




} */